@media screen and (max-width: 1110px) {
  #app,
  nav,
  footer {
    padding: 0 20px;
  }
}

@media screen and (max-width: 900px) {
  .booking-form-holder {
    .two-inputs {
      flex-direction: column wrap;

      .two-col-text-input {
        width: 100%;

        &:last-child {
          margin-left: 0;
          margin-top: 20px;
        }
      }
    }
  }
}
